<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>IndieWave</title>


</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <!-- Crear un section por cada una de las 5 categorias -->
            <div id="subtitle">
                <h2>Arcade</h2>
            </div>

            <section id="category">
                <% for( let i=0; i < 5; i++ ) { %>
                        <!-- crear cinco articles, cada uno con un juego perteneciente a la categoría correspondiente -->
                        <article class="category-article">
                            <div>
                                <img class="responsive-img" src="<%= arcade[i].images %> "
                                    alt="Foto producto Indie Game">
                            </div>
                            <div class="detalle">
                                <h3>
                                    <%= arcade[i].game_name %>
                                </h3>
                                <p>
                                    <%= arcade[i].price %>
                                </p>
                            </div>
                        </article>
                        <% } %>
            </section>

            <div id="subtitle">
                <h2>Acción</h2>
            </div>

            <section id="category">
                <% for( let i=0; i < 5; i++ ) { %>
                        <!-- crear cinco articles, cada uno con un juego perteneciente a la categoría correspondiente -->
                        <article class="category-article">
                            <div>
                                <img class="responsive-img" src="<%= action[i].images %> "
                                    alt="Foto producto Indie Game">
                            </div>
                            <div class="detalle">
                                <h3>
                                    <%= action[i].game_name %>
                                </h3>
                                <p>
                                    <%= action[i].price %>
                                </p>
                            </div>
                        </article>
                        <% } %>
            </section>

            <div id="subtitle">
                <h2>Deportes</h2>
            </div>

            <section id="category">
                <% for( let i=0; i < 5; i++ ) { %>
                        <!-- crear cinco articles, cada uno con un juego perteneciente a la categoría correspondiente -->
                        <article class="category-article">
                            <div>
                                <img class="responsive-img" src="<%= sports[i].images %> "
                                    alt="Foto producto Indie Game">
                            </div>
                            <div class="detalle">
                                <h3>
                                    <%= sports[i].game_name %>
                                </h3>
                                <p>
                                    <%= sports[i].price %>
                                </p>
                            </div>
                        </article>
                        <% } %>
            </section>

            <div id="subtitle">
                <h2>Estrategia</h2>
            </div>

            <section id="category">
                <% for( let i=0; i < 5; i++ ) { %>
                        <!-- crear cinco articles, cada uno con un juego perteneciente a la categoría correspondiente -->
                        <article class="category-article">
                            <div>
                                <img class="responsive-img" src="<%= strategy[i].images %> "
                                    alt="Foto producto Indie Game">
                            </div>
                            <div class="detalle">
                                <h3>
                                    <%= strategy[i].game_name %>
                                </h3>
                                <p>
                                    <%= strategy[i].price %>
                                </p>
                            </div>
                        </article>
                        <% } %>
            </section>

            <div id="subtitle">
                <h2>Aventuras</h2>
            </div>

            <section id="category">
                <% for( let i=0; i < 5; i++ ) { %>
                        <!-- crear cinco articles, cada uno con un juego perteneciente a la categoría correspondiente -->
                        <article class="category-article">
                            <div>
                                <img class="responsive-img" src="<%= adventure[i].images %> "
                                    alt="Foto producto Indie Game">
                            </div>
                            <div class="detalle">
                                <h3>
                                    <%= adventure[i].game_name %>
                                </h3>
                                <p>
                                    <%= adventure[i].price %>
                                </p>
                            </div>
                        </article>
                        <% } %>
            </section>

        </main>
        <%- include("../partials/footer.ejs") %>
</body>

</html>