<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />

    <script defer src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (locals.updatedProduct) { %>
    <script defer src="/js/updatedProductAlert.js"></script>
    <% } %>
    <% if (locals.deletedProduct) { %>
        <script defer src="/js/deletedProductAlert.js"></script>
    <% } %>

    <title>IW - Dashboard</title>
</head>

<body>

    <%- include("../partials/header.ejs") %>

        <main>
            <h2>Dashboard</br>
            </h2>
            <div id="add-button">
                <button class="base-btn"><a href="/products/create">Agregar</a></button>
            </div>
            <table id="dashboard">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Género</th>
                        <th>Desarrolladora</th>
                        <th>Fecha de Lanzamiento</th>
                        <th>Precio</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(producto=> { %>
                        <tr>
                            <td>
                                <%= producto.id%>
                            </td>
                            <td>
                                <a href="/products/<%= producto.id %>">
                                    <%= producto.name%>
                                </a>
                            </td>
                            <td>
                                <%= producto.genre.name%>
                            </td>
                            <td>
                                <%= producto.developer%>
                            </td>
                            <td>
                                <%= producto.release_date%>
                            </td>
                            <td>$
                                <%= producto.price%>
                            </td>
                            <td>
                                <form method="GET" action="/products/edit/<%= producto.id %>">
                                    <input class="base-btn" type="submit" value="EDITAR">
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="/products/dashboard/<%= producto.id %>?_method=DELETE">
                                    <input class="base-btn" type="submit" value="BORRAR">
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </main>


        <%- include("../partials/footer.ejs") %>

</body>

</html>