<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />

    <title>IW - Dashboard</title>
</head>
<body>
    <header>
    <%- include("../partials/header.ejs") %> 
    </header>
    <main>
        <h2>Dashboard</br></h2>
        <table>
            <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Desarrolladora</th>
                <th>Género</th>
                <th>Fecha de Lanzamiento</th>
                <th>Precio</th>
            </thead>
            <tbody>
                <% products.forEach(producto => { %>
                <tr>
                    <td><%= producto.id%> </td>
                    <td><%= producto.game_name%></td>
                    <td><%= producto.genre%></td>
                    <td><%= producto.developer%></td>
                    <td>$<%= producto.release_date%></td>
                    <td>$<%= producto.price%></td>
                    <td><form method="GET" action="/products/edit/<%= producto.id %>">
                        <input type="submit" value="EDITAR">
                    </form>
                </td>
                    <td><form method="POST" action="/products/<% producto.id %>?_method=DELETE">
                        <input type="submit" value="BORRAR">
                    </form>
                </td>
                </tr>
                <%  }) %> 
            </tbody>
        </table>
    </main>

    <footer>
        <%- include("../partials/footer.ejs") %> 
    </footer>
</body>
</html>