<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/productDetail.css"> -->
    <title>IndieWave</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
</head>

<body>
    
    <%- include("../partials/header.ejs") %>

    <main>
        <section id="title-area">
            <div id="breadcrumb">
                <p>Todos los juegos > <%= detallado.genre %> > <%= detallado.game_name %></p>
            </div>
            <h2> <%= detallado.game_name %> </h2>
            
        </section>
        <section id="game-area">
            <article id="carrousel">
                <div id="main-img">
                    <img class="responsive-img"
                    <% if (detallado.images[0] != undefined) {%>   
                    src="/img/<%= detallado.game_name  %>-Imgs/<%= detallado.images[0]%>" alt="carrousel">
                    <% } else {%>
                        src="https://via.placeholder.com/1120x500" alt="carrousel">    
                    <% } %> 
                </div>
                <div id="img-bar">
                    <i class="fas fa-chevron-left"></i>
                    <div class="img-div">
                        <img class="responsive-img" 
                        <% if (detallado.images[1] != undefined) {%>   
                            src="/img/<%= detallado.game_name  %>-Imgs/<%= detallado.images[1]%>">
                            <% } else {%>
                                src="https://via.placeholder.com/200x100">    
                            <% } %> 
                    </div>
                    <div class="img-div">
                        <img class="responsive-img"
                        <% if (detallado.images[2] != undefined) {%>   
                            src="/img/<%= detallado.game_name  %>-Imgs/<%= detallado.images[2]%>">
                            <% } else {%>
                                src="https://via.placeholder.com/200x100">    
                            <% } %> 
                    </div>
                    <div class="img-div">
                        <img class="responsive-img" 
                        <% if (detallado.images[3] != undefined) {%>   
                            src="/img/<%= detallado.game_name  %>-Imgs/<%= detallado.images[3]%>">
                            <% } else {%>
                                src="https://via.placeholder.com/200x100">    
                            <% } %> 
                    </div>
                    <div id="last-div" class="img-div">
                        <img class="responsive-img" src="https://via.placeholder.com/200x100"
                        <% if (detallado.images[4] != undefined) {%>   
                            src="/img/<%= detallado.game_name  %>-Imgs/<%= detallado.images[4]%>">
                            <% } else {%>
                                src="src="https://via.placeholder.com/200x100">    
                            <% } %> 
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </article>
            <aside id="game-info">
                <div id="game-logo">
                    <img class="responsive-img" 
                    <% if (detallado.logo != undefined) {%>   
                        src="/img/<%= detallado.game_name  %>-Imgs/<%= detallado.logo%>">
                        <% } else {%>
                            src="https://via.placeholder.com/1120x500">    
                        <% } %>
                </div>
                <div id="game-desc">
                    <div>
                        <span>Desarrollador</span>
                        <span><%= detallado.developer %></span>
                    </div>
                    <div>
                        <span>Fecha de lanzamiento</span>
                        <span><%= detallado.release_date %></span>
                    </div>
                    <div>
                        <span>Plataforma</span>
                        <span><%= detallado.platform %></span>
                    </div>
                </div>
                <div id="game-info-button-wrapper">
                    <span id="price-tag">$<%= detallado.price %></span>
                    <button id="game-to-cart-btn">Añadir al Carro</button>
                    <button id="game-to-wishlist-btn">Añadir a Lista de Deseados</button>
                </div>
            </aside>
        </section>
        <section id="extras-area">
            <div id="req-dlc-wrapper">
                <h3>Requisitos del Sistema</h3>
                <article id="requisites">
                    <div id="minimum">
                        <div>
                            <h4>Mínimos</h4>
                        </div>
                        <p><%= detallado.min_requirements %></p>
                    </div>
                    <div id="recommended">
                        <div>
                            <h4>Recomendados</h4>
                        </div>
                        <p><%= detallado.rec_requirements %></p>
                    </div>
                </article>

                <article id="game-summary">
                    <p><%= detallado.description %>
                    </p>
                </article>

            </div>
            <aside id="sale">
                <div id="sale-content-wrapper">
                    <div id="sale-img">
                        <img class="responsive-img" src="https://via.placeholder.com/200x300">
                    </div>
                    <div id="sale-title">
                        <p>80% OFF</p>
                    </div>
                    <button id="sale-buy-btn">COMPRAR AHORA</button>
                </div>
            </aside>
        </section>
    </main>
    
    <%- include("../partials/footer.ejs") %>

</body>

</html>