<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/productDetail.css"> -->
    <title>IndieWave</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <script defer src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (locals.repeated) { %>
    <script defer src="/js/repeatedBuyAlert.js"></script>
    <% } %>

</head>

<body>

    <%- include("../partials/header.ejs") %>

        <main>
            <section id="title-area">
                <div id="breadcrumb">
                    <p><a href="/products">Todos los juegos ></a> <a
                            href="/products/categories/<%= product.genre.name %>">
                            <%= product.genre.name %> >
                        </a>
                        <%= product.name %>
                    </p>
                </div>
                <h2>
                    <%= product.name %>
                </h2>

            </section>
            <section id="game-area">
                <article id="carrousel">
                    <div id="main-img">
                        <img class="responsive-img" <% if (productImages[0] !=undefined) {%>
                        src="<%= productImages[0]%>" alt="carrousel">
                            <% } else {%>
                                src="https://via.placeholder.com/1120x500" alt="carrousel">
                                <% } %>
                    </div>
                    <div id="img-bar">
                        <i class="fas fa-chevron-left"></i>
                            <% for( let i=1; i < 5; i++ ) { %>

                                <div class="img-div">
                                    <img class="responsive-img" <% if (productImages[i] != undefined) {%>
                                    src="<%= productImages[i] %>">
                                        <% } else {%>
                                            src="https://via.placeholder.com/200x100">
                                            <% } %>
                                </div>

                            <% } %>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </article>
                <aside id="game-info">
                    <div id="game-logo">
                        <img class="responsive-img" <% if (product.logo !=undefined) {%>
                        src="<%= product.logo%>">
                            <% } else {%>
                                src="https://via.placeholder.com/1120x500">
                                <% } %>
                    </div>
                    <div id="game-desc">
                        <div>
                            <span>Desarrollador</span>
                            <span>
                                <%= product.developer %>
                            </span>
                        </div>
                        <div>
                            <span>Fecha de lanzamiento</span>
                            <span>
                                <%= product.release_date %>
                            </span>
                        </div>
                        <div>
                            <span>Plataforma</span>
                            <span>
                                <%= productPlatforms.join(", ") %></span>
                        </div>
                    </div>
                    <div id="game-info-button-wrapper">
                                    <span id="price-tag">$<%= product.price %></span>
                                    <form id="shopping-cart-form" method="POST" action="/products/shoppingCart">
                                        <button type="submit" id="game-to-cart-btn" name="cartValue" value=<%= product.id %>>Añadir al Carrito</button>
                                    </form>
                                   
                        </div>
                </aside>
            </section>
            <section id="extras-area">
                <div id="req-dlc-wrapper">
                    <h3>Requisitos del Sistema</h3>
                    <article id="requisites">
                        <div id="minimum">
                            <div>
                                <h4>Mínimos</h4>
                            </div>
                            <p>
                                <%= product.min_requirements %>
                            </p>
                        </div>
                        <div id="recommended">
                            <div>
                                <h4>Recomendados</h4>
                            </div>
                            <p>
                                <%= product.rec_requirements %>
                            </p>
                        </div>
                    </article>

                    <article id="game-summary">
                        <p>
                            <%= product.description %>
                        </p>
                    </article>

                </div>
                <aside id="sale">
                    <div id="sale-content-wrapper">
                        <div id="sale-img">
                            <img class="responsive-img" src="https://via.placeholder.com/200x300">
                        </div>
                        <div id="sale-title">
                            <p>80% OFF</p>
                        </div>
                        
                    </div>
                </aside>
            </section>
        </main>

        <%- include("../partials/footer.ejs") %>

</body>

</html>