<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="/css/style.css">

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
</head>

<body>

    <%- include("../partials/header.ejs") %>

        <main class="shopping-cart">

            <h2>Carrito de compras</h2>
            <% if (comprasUser.length > 0) { %>
                <h3 id="empty-cart-msg">Tu carrito se encuentra vacío</h3>
            <% }  else { %> 
            <section class="upper-part">
                <ul class="cart-bar">
                    <li id="barra-producto">Producto</li>
                    <li id="barra-descripcion">Descripción</li>
                    <li>Precio</li>
                    <li>Subtotal</li>
                </ul>
                <% comprasUser.forEach(elemento =>{ %>
                <article class="producto">
                    <div class="categoria-producto">
                        <img class="thumbnail-producto responsive-img" src=<%= elemento.products.logo || "https://via.placeholder.com/100x100"%>>
                    </div>
                    <div class="categoria-producto descripcion-producto">
                        <div class="titulo-producto "><a href="/products/<%= elemento.products.id %>"><%= elemento.products.name %></a></div>
                        <div id="eliminar"><a href="/products/shoppingCart/delete/<%=elemento.products.id %>">Eliminar</a></div>
                    </div>
                    <div class="precio categoria-producto"><%= elemento.products.price %></div>
                    <div class="precio categoria-producto"><%= elemento.products.price %></div>
                </article>
                <% }) }%> 

            </section>

            <section class="bottom-part">
                <div class="cupones">
                    <form action="/shoppingCart" method="get">
                        <label>INGRESE CUPÓN</label>
                        <input type="text" name="descuento" placeholder="#12345">
                        <button type="submit" for="descuento">APLICAR</button>
                    </form>
                </div>

                <div class="subtotal">

                    <div class="descuento-wrapper">
                        <text class="texto-descuento">Descuento</text>
                        <text class="precio-descuento">%%%</text>
                    </div>

                    <div class="total-wrapper">
                        <text class="valor-total">Total</text>
                        <text class="precio-total">$$$</text>
                    </div>

                    <div id="botones">
                        <form action="/products" method="get">
                            <button id="seguir-comprando">Seguir Comprando</button>
                        </form>

                        <form action="/shoppingCart" method="get">
                            <button id="comprar">COMPRAR</button>
                        </form>


                    </div>

            </section>


            <article class="oferta-especial">
                <text class="titulo-oferta">OFERTA ESPECIAL</text>

                <div class="wrapper-oferta">
                    <div class="imagen-oferta">
                        <img src="https://via.placeholder.com/150x100">
                    </div>
                    <div class="titulo-juego">This War Of Mine</div>
                    <div class="descripcion-oferta">
                        <div class="descuento-juego">80% OFF</div>
                        <i class="fas fa-cart-plus"></i>
                    </div>
                </div>
            </article>
        </main>

        <%- include("../partials/footer.ejs") %>

</body>

</html>