<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <link href="//cdn.jsdelivr.net/gh/zkreations/SheetSlider@2.2.0/dist/sheetslider.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>IndieWave</title>

</head>
<!-- body -->

<body>
    <%- include("../partials/header.ejs") %>
        <!-- main -->
        <main>
            <!-- slider -->
            <!-- slide -->
            <div class="sheetSlider sh-fade sh-auto">
                <input id="s1" type="radio" name="slide1" checked="">
                <input id="s2" type="radio" name="slide1">
                <input id="s3" type="radio" name="slide1">
                <input id="s4" type="radio" name="slide1">

                <div class="sh__content">
                    <!-- Slider Item -->
                    <div class="sh__item">
                        <a href="http://localhost:3000/products/1">
                            <img src="img/furi-producto.jpg" alt="imgText">
                            <!-- Item Info -->
                            <div class="sh__meta">
                                <h4>Furii</h4>
                                <span>Lucha por tu libertad en este juego ultrafluido de lucha frenética con
                                    espadas</span>
                            </div>
                        </a>
                    </div>

                    <!-- Slider Item -->
                    <div class="sh__item">
                        <a href="http://localhost:3000/products/2">
                            <img src="img/cuphead1-logo.png" alt="imgText">
                            <!-- Item Info -->
                            <div class="sh__meta">
                                <h4>Cup Head</h4>
                                <span>Cuphead es un juego de acción clásico estilo "dispara y corre"</span>
                            </div>
                        </a>
                    </div>

                    <!-- Slider Item -->
                    <div class="sh__item">
                        <a href="http://localhost:3000/products/3">
                            <img src="img/celeste-logo.jpg" alt="imgText">
                            <!-- Item Info -->
                            <div class="sh__meta">
                                <h4>Celeste</h4>
                                <span>Ayuda a Madeline a sobrevivir a los demonios de su interior en su viaje</span>
                            </div>
                        </a>
                    </div>

                    <!-- Slider Item -->
                    <div class="sh__item">
                        <a href="http://localhost:3000/products/4">
                            <img src="img/stardewvalley1-logo.png" alt="imgText">
                            <!-- Item Info -->
                            <div class="sh__meta">
                                <h4>Stardew Valley</h4>
                                <span>Acabas de heredar la vieja parcela agrícola de tu abuelo de Stardew Valley</span>
                            </div>
                        </a>
                    </div>

                </div>
                <!-- .sh__content -->

                <!--botones -->
                <div class="sh__btns">
                    <label for="s1"></label>
                    <label for="s2"></label>
                    <label for="s3"></label>
                    <label for="s4"></label>

                </div>
                <!-- .sh__btns -->

                <!--flechas-->
                <div class="sh__arrows">
                    <label for="s1"></label>
                    <label for="s2"></label>
                    <label for="s3"></label>
                    <label for="s4"></label>

                </div>
                <!-- .sh__arrows -->
            </div>
            <!-- prodoductos destacados -->
            <div id="subtitle-featured-home">
                <h2>Destacados</h2>
            </div>
            <section id="featured" class="section-featured animate__fadeInLeft">

                <% for( let i=0; i < productsFeatured.length; i++ ) { %>
                    <article class="product-article ">

                        <!-- <div class="featured-div"> -->
                        <div>
                            <!--https://via.placeholder.com/1000x1000-->
                            <a href="/products/<%= productsFeatured[i].id %> ">
                                <img class="responsive-img" src="<%= productsFeatured[i].logo %>"
                                    alt="Foto producto Indie Game">


                        </div>
                        <div class="detail-prod">
                            <h3>
                                <%= productsFeatured[i].name %>
                            </h3>
                            <p>$ <%= productsFeatured[i].price %>
                            </p>
                        </div>
                        </a>

                    </article>

                    <% } %>
                        <!-- </div> -->
            </section>
            <!-- Formulario de categorias -->
            <!-- <div id="form">
                <form action="/home" method="GET">
                    <div>
                        <label for="categoria">Categoría:</label>
                        <select name="categoria">
                            <option value="Arcade">Arcade</option>
                            <option value="accion">Acción</option>
                            <option value="deportivo">Deportivo</option>
                            <option value="estrategia">Estrategia</option>
                            <option value="simulacion">Simulación</option>
                            <option value="aventura">Aventura</option>
                            <option value="mesa">Juegos de mesa</option>
                            <option value="musicales">Juegos musicales</option>
                        </select>
                    </div>
                </form>
            </div> -->
            <div id="subtitle-home">
                <h2>Juegos recientes</h2>
            </div>
            <!-- Productos destacados de cada categoria elegida -->
            <section id="category" class="section-category animate__fadeInLeft">

                <!-- <i class="fas fa-chevron-left"></i> -->
                <% for( let j=0; j < productsFresh.length; j++ ) { %>
                    <article class="category-article ">
                        <div class="imagen">
                            <a href="/products/<%= productsFresh[j].id %> ">
                                <!--https://via.placeholder.com/1000x1000  -->
                                <img class="responsive-img" src="<%= productsFresh[j].logo %>" alt="Foto producto Indie Game">


                        </div>
                        <div class="detalle">
                            <h3>
                                <%= productsFresh[j].name %>
                            </h3>
                            <p>$
                                <%= productsFresh[j].price %>
                            </p>
                        </div>
                        </a>
                    </article>
                    <% } %>
                        <!-- <i class="fas fa-chevron-right"></i> -->

            </section>

        </main>

        <!-- footer  -->
        <%- include("../partials/footer.ejs") %>



</body>

</html>