<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/galicia.css"> -->
    <title>IndieWave</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />

    <script src="/js/loginBackground.js" defer></script>
</head>

<body>

    <%- include("../partials/header.ejs") %>

        <main>
            <form id="create-form" action="/users/profile/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="flex-wrapper">
                    <div id="profile-div">
                        <div id="profilepic-profile">
                            <img id="img-profilepic" src="<%= locals.userLogged.profile_pic %>">
                            <!-- if profilepic return profile else default-img -->
                        </div>
                        <div id="wrapper">
                            <div id="username-surname">
                                <h2>
                                    <input type="text" name="username" id="username" aria-label="nombre del juego" value="<%= locals.userLogged.username%>">
                                </h2>

                                <h2 id="name">
                                    <input type="text" name="name" id="name" aria-label="nombre del juego" value="<%= locals.userLogged.name%>">
                                </h2>
                                <h2 id="lastname">
                                    <input type="text" name="surname" id="surname" aria-label="nombre del juego" value="<%= locals.userLogged.surname %>">

                                </h2>

                                <div id="email-profile">
                                    <h3>
                                        <input type="text" name="email" id="email" aria-label="nombre del juego" value="<%= locals.userLogged.email %>">
                                    </h3>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <button type="submit" id="send-btn">Enviar</button>


        </main>

        <%- include("../partials/footer.ejs") %>

</body>