<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>IndieWave</title>

    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <!-- <script src="/js/registerValidations.js"></script> -->
</head>

<body>

    <%- include("../partials/header.ejs") %>

        <main>

            <div id="form-div">
                <ul id=errors-ul class="error-msg"></ul>
                <form id="register-form" method="post" enctype="multipart/form-data">
                    <input type="text" name="name" id="name" aria-label="nombre" placeholder="Nombre" value="<%= locals.old && old.name %>">
                    <% if (locals.errors && errors.name) { %>
                        <!-- Qué onda con este or ¿Cómo debería estar puesto? -->
                        <span class="error-msg"><i class="fas fa-exclamation-circle"></i> <%=(errors.name && errors.name.msg)%></span>
                        <% } %>
                            <input type="text" name="surname" id="surname" aria-label="apellido" value="<%= locals.old && old.surname %>" placeholder="Apellido">
                            <% if (locals.errors && errors.surname){ %>
                                <!-- Qué onda con este or ¿Cómo debería estar puesto? -->
                                <span class="error-msg"><i class="fas fa-exclamation-circle"></i> <%=(errors.surname && errors.surname.msg)%></span>
                                <% } %>
                                    <!--  -->
                                    <input type="email" name="email" id="email" aria-label="e-mail" placeholder="e-mail" value="<%= locals.old && old.email %>">
                                    <% if (locals.errors && errors.email) { %>
                                        <span class="error-msg"><i class="fas fa-exclamation-circle"></i> <%= errors.email.msg %> </span>
                                        <% } %>

                                            <input type="text" name="username" id="username" aria-label="nombre de usuario" placeholder="Nombre de usuario" value="<%= locals.old && old.username %>">
                                            <% if (locals.errors && errors.username) { %>
                                                <span class="error-msg"><i class="fas fa-exclamation-circle"></i> <%= errors.username.msg %> </span>
                                                <% } %>
                                                    <label for="profile-pic" id="profile-pic">Cargar imagen de perfil</label>
                                                    <input type="file" name="profile-pic" accept=".png, .jpeg, .jpg" id="profile-pic">
                                                    <input type="password" name="password" id="password" aria-label="contraseña" placeholder="Contraseña" value="<%= locals.old && old.password %>">
                                                    <% if (locals.errors && errors.password) { %>
                                                        <span class="error-msg"><i class="fas fa-exclamation-circle"></i> <%= errors.password.msg %> </span>
                                                        <% } %>
                                                            <input type="password" name="repassword" id="repassword" aria-label="recontraseña" placeholder="Confirmar contraseña">
                                                            <% if (locals.errors && errors.repassword) { %>
                                                                <span class="error-msg"><i class="fas fa-exclamation-circle"></i> <%= errors.repassword.msg %> </span>
                                                                <% } %>
                                                                    <div id="checkbox-wrapper">
                                                                        <input type="checkbox" name="news" id="news">
                                                                        <label id="label-register" for="news">Me gustaría recibir novedades</label>
                                                                    </div>
                                                                    <button type="submit" id="submit-btn">Registrarme</button>
                </form>
            </div>
        </main>

        <%- include("../partials/footer.ejs") %>

</body>